node_modules/
**/node_modules/
dist/
**/dist/
*.tsbuildinfo

.git/
.github/
.husky/
.vscode/
.idea/

.env
.env.*
!.env.example

coverage/
test-results/
playwright-report/

**/tests/
**/e2e/
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/playwright.config.ts
vitest.config.ts

*.md
LICENSE
.prettierrc
.prettierignore
.gitignore
.gitkeep
**/.gitkeep

docker-compose.yml

multi-react-apps.ath
eslint.config.js

.DS_Store
Thumbs.db